attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.7
idna==3.7
loguru==0.7.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyOpenSSL==24.1.0
pyTelegramBotAPI==4.18.1
python-dotenv==1.0.1
requests==2.32.2
service-identity==24.1.0
telebot==0.0.5
TelegramBotAPI==0.3.2
urllib3==2.2.1
